body {
    background-color: #f0f0f0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .head1{
  width: 100%;
  height: 50%;
  border: none;
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  }
  
  .head2{
    width: 25%;
    height: auto;
    border: none;
    }
    
    .logo{
      width: 100%;
      height:auto;
    }
    .head3{
      width: 100%;
      height: auto;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(0, 0, 0);
      }
  
    .head4{
      width: 20%;
      height: auto;
      border: none;
      display: inline-block;
      background-color: none;
      }
  
  
  .logout{
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    text-transform:uppercase;
    text-decoration: none;
    color: #ffffff;
  }
  
  .logout:hover{
    float: right;
    text-transform: uppercase;
    text-decoration: underline;
    color: #ffffff;
  }
    
  #user{   
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 10px;
    padding-right: 15px;
  }

  button{
      text-align: center;
      font-size: 18px;
      padding:10px;
      margin-top: 50px;
      border: none;
      border-radius: 5px;
      font-family: sans-serif;
      width:500px;
      height: 75px;   
      color: aliceblue;
      background-color: #002e63;
      display: block;
    }
  
  .button:hover{
      filter: drop-shadow(8px 8px 10px #22456e);
      cursor: pointer;
      transform: scaleY(10px);
      background-color: #16549a;
  }
  
    h1{
      text-align:center;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: rgb(55, 51, 51); 
      margin-top: 15px;
       padding-right: 15px;
    }
  
    .page{
      text-decoration: none;
    }

    .btns{
      display: inline-block;
      justify-items: center;
      
    }

    .btns > .page{
        margin-bottom: 10px;
    }

    @media screen and (max-width: 768px) {
      .head1 {
        height: 25%;
      }
      .head2 {
        width: 50%;
      }
      .head3 {
        width: 50%;
      }
      .head4 {
        width: 30%;
      }
      button {
        width: 100%;
      }
    }
  
    @media screen and (max-width: 480px) {
      .head1 {
        height: 20%;
      }
      .head2 {
        width: 100%;
      }
      .head3 {
        width: 100%;
      }
      .head4 {
        width: 70%;
      }
      button {
        width: 100%;
      }
    }