#add{
    border: none;
    width:700px;
    padding:50px 50px 50px 50px;
    align-items: center;
    margin:50px;
    border-radius: 15px;
    height: auto;
    margin: 0 auto;   
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    
  }
  
  button{
    text-align: center;
      font-size: 18px;
      padding:10px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      font-family: sans-serif;
      width:100%;
      color: whitesmoke;
      height: auto;
      background-color: #002395;
  }


.form_elements{
    width: 100%;
    height: 50px;
    outline: none;
    border:1px solid #b3b3b3;
    background-color: #fff;
    border-radius: 5px;
    margin:10px 50px 10px 50px; 
  }
  
  button[type="submit"]:hover
  {
    text-align: center;
    padding:10px; 
    align-self: center;
    width:100%;
    border: none;
    color: aliceblue;
    background-color: #0755a3;
  }

  button[type="submit"]:active
  {
    box-shadow: 0 1px #666;
    transform: translateY(4px);
  }
  
#add p{
  padding-top: 20px;
  padding-bottom: 0px;
  font-size: 14px;
  text-align: center;
}


label{
  font-weight: 700;
  }
  p{
    font-weight: 450;
    }
  
    .head1{
      width: 100%;
      height: 50%;
      border: none;
      display: flex;
      justify-content: space-between;
      background-color: rgb(0, 0, 0);
      }
      
      .head2{
        width: 25%;
        height: auto;
        border: none;
        }
      
        .head3{
          width: 100%;
          height: auto;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgb(0, 0, 0);
          }
      
        .head4{
          width: 20%;
          height: auto;
          border: none;
          display: inline-block;
          background-color: none;
          }
      
      .logo{
        width: 100%;
        height:auto;
      }
      
      .logout{
        float: right;
        padding-top: 10px;
        padding-right: 10px;
        text-transform:uppercase;
        text-decoration: none;
        color: #ffffff;
      }
      
      .logout:hover{
        float: right;
        text-transform: uppercase;
        text-decoration: underline;
        color: #ffffff;
      }
      
      .head1{
        width: 100%;
        height: auto;
        border: none;
        display: flex;
        justify-content:space-around;
        background-color: rgb(5, 2, 2);
        
        }
        
        .head2{
          width: 50%;
          height: auto;
          border: none;
          }
        
        .head3{
            width: 100%;
            height: auto;
            border: none;
            display:inline-block;
            align-items: center;
            justify-content: center;
            }
        
            .head4{
              width: 20%;
              height: auto;
              border: none; 
              display: inline-block;
              background-color: none;
              align-items: end;
              }
        
              .opr1{
                width: 90%;
                height: auto;
                border: none;
                text-align: center;
                }
        
        .logo{
          width: 100%;
          height: 100%;
        }
        
        .logout{
          float: right;
          padding-top: 10px;
          padding-right: 10px;
          text-transform:uppercase;
          text-decoration: none;
          color: rgb(255, 255, 255);
        }
        
        .logout:hover{
          float: right;
          text-transform: uppercase;
          text-decoration: underline;
          color: #ffffff;
        }
        
        .page{
          text-decoration: none;
        }
        
        #user{   
          display: flex;
          align-items: center;
          margin-left: auto;
          margin-top: 10px;
          padding-right: 15px;
          height: 50px;
        }
        
      
        .opr2{
          display: flex;
          border:none;
          justify-content: end;
          width:70%;
          height: auto;
        }
      
        h1{
          text-align: center;
          font-weight: 500;
          text-transform: uppercase;
          color: #ffffff;
      }

    
      .view{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .btn>a{
      text-align: center;
      font-size: 18px;
      padding:10px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      font-family: sans-serif;
      width:500px;
      color: whitesmoke;
      height: auto;
      background-color: #002395;
    }
   