body {
  background-color: #f0f0f0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000;
  overflow: hidden;
  font-family: 'Caveat', cursive;
  font-family: 'Inter', sans-serif;
  width:100%;
}
 
 .topnav a {
  display: flex;
  justify-content: flex-end;
  color: white;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
 }

 .topnav a.active {
  background-color: #ddd;
  color: black;
 }

 .logo{
  display: flex;
  width: 200px;  
  height: 40px;
}

.menu
{
  display: flex;
  justify-content: flex-end;
  float: right;
  align-items: center;
  height: 50px;
  padding: 15px 15px;
  font-size:16px;
}

.menu a {
  color: white;
  text-align: center;
  padding: 14px 18px 14px 18px;
  text-decoration: none;
  font-size: 18px;
  margin-left: 15px;
}

.menu a:hover {
  text-decoration: underline;
}

h2
{
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
  font-size: 24px;
  color: #000000;
  font-weight: 300;
  padding-top: 50px;
}


.fa{
  color: #000000;
}

#register{
  border: 2px #afaeae solid;
  width:500px;
  padding:50px 50px 50px 50px;
  align-items: center;
  margin:50px;
  border-radius: 15px;
  height:100%;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #0000001a;
  font-size: medium;
  
}

button{
  text-align: center;
  font-size: 18px;
  padding:10px;
  margin-top: 100px;
  border: none;
  border-radius: 5px;
  font-family: sans-serif;
  width:100%;
  box-shadow: 0 1px #a19f9f;
  color: aliceblue;
  background-color: #4141dd;
}

.form_elements{
  width: 450px;
  height: 40px;
  outline: none;
  border:1px solid #b3b3b3;
  background-color: #fff;
  border-radius: 5px;
  margin:10px 0px 10px 0px;

}

label{
font-weight: 700;
font-size: medium;
}

p{
  font-weight: 450;
  }


.password-container {
  position: relative;
}

.fa-eye, .fa-eye-slash  {
  position: absolute;
  top: 50%;
  right: 10px; 
  transform: translateY(-50%);
  cursor: pointer;
}

#show-password2, #show-password1 {
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.type .gen, .res, .qual, .year{
  padding-top: 10px;
}

 .fa-eye,.fa-eye-slash {
  position:absolute;
  top: 49%;
  right: 39%;
  cursor: pointer;
  color: #6c6c6c;
  transition: 0.3ms;
 }

button[type="submit"]:hover{
  text-align: center;
  padding:10px; 
  align-self: center;
  width:100%;
  border: none;
  color: aliceblue;
  background-color: #0755a3;
}

button[type="submit"]:active{
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}


#register p{
padding-top: 20px;
padding-bottom: 0px;
font-size: 14px;
text-align: center;
}

.sign{
  text-decoration: none;
  color: #0755a3;
}
.sign:hover{
  text-decoration: underline;
  color: #0755a3;
}